<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.dao.HandlingChargeDao">
	<!--编辑 -->
	<update id="UpdateShippFee" parameterType="java.util.Arrays">
		update jy_shiping_order
		<set>
			handling_tiaozheng = 1 ,
			handling_shihou = #{param2}
		</set>

		where shiping_order_id in
		<foreach collection="array" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
	<!-- 查询客户信息 -->
	<select id="getHandlingCuctome" resultType="DestinationFeeCloseMordel">
		(SELECT
		SUM(jso.destination_fee) as destination_fee,
		SUM(jso.paid_fee) as paid_fee,
		COUNT(jso.shiping_order_id) AS all_nuns,
		SUM(IF(jso.handling_stata=0,1,0)) AS zongpiaoshu,
		SUM(IF(jso.handling_stata!=0,1,0)) AS closes,
		SUM( jso.handling_charge -IF(jso.handling_shihou IS
		NULL,0,jso.handling_shihou)) AS chayi,
		SUM(jso.back_fee) as back_fee,
		SUM(jso.transport_pay) as transport_pay,
		SUM(jso.handling_charge) as handling_charge,
		SUM(IF(jso.handling_shihou is null ,0,jso.handling_shihou))as handling_shihou,

		jcf.customer_id,
		jcf.customer_num,
		jcf.customer_name,
		jcf.customer_address,
		jcf.customer_tel
		FROM jy_customer_fahuo jcf
		INNER JOIN jy_shiping_order jso
		on jcf.customer_id=jso.customer_id
		where 1=1
		and (jso.handling_charge IS NOT NULL AND jso.handling_charge!='' AND
		jso.handling_charge!=0)

		<!-- and (jso.handling_charge IS NOT NULL OR jso.handling_charge='' OR 
			jso.handling_charge=0) -->
		<if test="param3 != null and param3 != ''">
			AND jcf.customer_num like "%${param3}%"
		</if>
		<if test="param4 != null and param4 != ''">
			AND jcf.customer_name like "%${param4}%"
		</if>
		<if test="param5 != null and param5 != ''">
			and jso.order_time &gt;=#{param5}
		</if>
		<if test="param6 != null and param6 != ''">
			and jso.order_time &lt;=#{param6}
		</if>
		GROUP BY jcf.customer_id
		)
		UNION
		(SELECT
		SUM(jso.destination_fee) as destination_fee,
		SUM(jso.paid_fee) as paid_fee,
		COUNT(jso.shiping_order_id) AS all_nuns,
		SUM(IF(jso.handling_stata=0,1,0)) AS zongpiaoshu,
		SUM(IF(jso.handling_stata!=0,1,0)) AS closes,
		SUM( jso.handling_charge -IF(jso.handling_shihou IS
		NULL,0,jso.handling_shihou)) AS chayi,
		SUM(jso.back_fee) as back_fee,
		SUM(jso.transport_pay) as transport_pay,
		SUM(jso.handling_charge) as handling_charge,
		SUM(IF(jso.handling_shihou is null ,0,jso.handling_shihou))as handling_shihou,

		jc.customer_id,
		jc.customer_num,
		jc.customer_name,
		jc.customer_address,
		jc.customer_tel
		from jy_customer jc
		INNER JOIN jy_order_custom joc
		ON jc.customer_id = joc.customer_id
		INNER JOIN jy_shiping_order jso
		on jso.custom_id = joc.custom_id
		where 1=1
		and (jso.handling_charge IS NOT NULL AND jso.handling_charge!='' AND
		jso.handling_charge!=0)

		<!-- and (jso.handling_charge IS NOT NULL OR jso.handling_charge='' OR 
			jso.handling_charge=0) -->
		<if test="param3 != null and param3 != ''">
			AND jc.customer_num like "%${param3}%"
		</if>
		<if test="param4 != null and param4 != ''">
			AND jc.customer_name like "%${param4}%"
		</if>
		<if test="param5 != null and param5 != ''">
			and jso.order_time &gt;=#{param5}
		</if>
		<if test="param6 != null and param6 != ''">
			and jso.order_time &lt;=#{param6}
		</if>
		GROUP BY jc.customer_id
		)
		<choose>
			<when test="param7!=null and param7!=''">
				ORDER BY ${param7} ${param8}
			</when>
			<otherwise>
				ORDER BY chayi DESC
			</otherwise>
		</choose>
		limit
		#{param1},#{param2}
	</select>
	<select id="getHandlingFeeCount" resultType="int">
		SELECT COUNT(*) FROM
		((SELECT
		jcf.customer_id
		FROM jy_customer_fahuo jcf
		INNER JOIN jy_shiping_order jso
		on jcf.customer_id=jso.customer_id
		where 1=1
		and (jso.handling_charge IS NOT NULL AND jso.handling_charge!='' AND
		jso.handling_charge!=0)
		<if test="param1 != null and param1 != ''">
			AND jcf.customer_num like "%${param1}%"
		</if>
		<if test="param2 != null and param2 != ''">
			AND jcf.customer_name like "%${param2}%"
		</if>
		<if test="param3 != null and param3 != ''">
			and jso.order_time &gt;=#{param3}
		</if>
		<if test="param4 != null and param4 != ''">
			and jso.order_time &lt;=#{param4}
		</if>
		GROUP BY jcf.customer_id

		)
		UNION
		(SELECT jc.customer_id
		from jy_customer jc
		INNER JOIN jy_order_custom joc
		ON jc.customer_id = joc.customer_id
		INNER JOIN jy_shiping_order jso
		on jso.custom_id = joc.custom_id
		where 1=1
		and (jso.handling_charge IS NOT NULL AND jso.handling_charge!='' AND
		jso.handling_charge!=0)
		<if test="param1 != null and param1 != ''">
			AND jc.customer_num like "%${param1}%"
		</if>
		<if test="param2 != null and param2 != ''">
			AND jc.customer_name like "%${param2}%"
		</if>
		<if test="param3 != null and param3 != ''">
			and jso.order_time &gt;=#{param3}
		</if>
		<if test="param4 != null and param4 != ''">
			and jso.order_time &lt;=#{param4}
		</if>
		GROUP BY jc.customer_id
		))AS qq
	</select>
	<!-- 查询运单信息 -->
	<select id="getShippingClose" resultType="DestinationFeeCloseMordel">
		SELECT
		ji.*,
		jd.department_name,
		IF ((ji.handling_stata!=0 and
		ji.handling_tiaozheng!=1),jsj.settl_times,NULL) AS settlyf_time,
		IF
		((ji.handling_stata!=0 and
		ji.handling_tiaozheng!=1),jsj.settl_notes,NULL) AS settlyf_remaks,

		IF (ji.handling_shenhe!=0 ,jst.settlyf_time,NULL) AS settlyf_th_times,
		IF ((ji.handling_shenhe!=0 OR
		ji.handling_shenhe!=1),jss.settlyf_time,NULL) AS settleds_sh_times,
		IF
		(ji.handling_shenhe!=0 ,jst.settlyf_remaks,NULL) AS settlyf_th_remaks,

		IF ((ji.handling_shenhe!=0 OR
		ji.handling_shenhe!=1),jss.settlyf_remaks,NULL) AS settleds_sh_remaks,
		IF ((ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		,ju.username,NULL) AS username,
		IF
		(ji.handling_shenhe!=0,ju1.username,NULL) AS usernameth,
		ji.handling_charge,
		IF(ji.handling_shihou IS NULL,0,ji.handling_shihou)
		AS handling_shihou ,

		ji.handling_charge-(IF(ji.handling_shihou IS NULL,0,ji.handling_shihou)) AS trade_cha



		FROM
		jy_shiping_order ji
		LEFT JOIN jy_order_custom joc ON joc.custom_id =
		ji.custom_id

		LEFT JOIN jy_settlementy_ys_history jsj ON
		jsj.order_id=ji.shiping_order_id AND jsj.settl_order=1
		AND
		jsj.settl_times=(SELECT MAX(jsj1.settl_times) FROM
		jy_settlementy_ys_history jsj1
		WHERE jsj1.order_id=jsj.order_id AND
		jsj1.settl_order=1)

		LEFT JOIN jy_settlys_shenhe jst ON jst.orderids=ji.shiping_order_id AND
		jst.settlyf_sf=1 AND jst.settlyf_type=0
		AND jst.settlyf_time=(SELECT
		MAX(jst1.settlyf_time) FROM jy_settlys_shenhe jst1
		WHERE
		jst1.orderids=jst.orderids AND jst1.settlyf_type=0 AND
		jst1.settlyf_sf=1)


		LEFT JOIN jy_settlys_shenhe jss ON jss.orderids=ji.shiping_order_id AND
		jss.settlyf_sf=1 AND jss.settlyf_type=1
		AND jss.settlyf_time=(SELECT
		MAX(jss1.settlyf_time) FROM jy_settlys_shenhe jss1
		WHERE
		jss1.orderids=jss.orderids AND jss1.settlyf_type=1 AND
		jss1.settlyf_sf=1)

		LEFT JOIN jy_user ju ON jsj.settl_user=ju.id

		LEFT JOIN jy_user ju1 ON
		jst.settlyf_user=ju1.id
		LEFT JOIN jy_department jd ON jd.department_id
		= jst.settle_th_did
		where 1=1
		AND (ji.handling_charge IS NOT NULL and ji.handling_charge!='' and
		ji.handling_charge!=0)
		AND( joc.customer_id =#{param3} or ji.customer_id =#{param3} )
		<if test="param4 != null and param4 != ''">
			and ji.send_time &gt;=#{param4}
		</if>
		<if test="param5 != null and param5 != ''">
			and ji.send_time &lt;=#{param5}
		</if>
		<if test="param12 != null and param12 !=''">
			and ji.shiping_order_num like "%${param12}%"
		</if>
		<if test="param10 != null and param10 != ''">
			and ji.order_time &gt;=#{param10}
		</if>
		<if test="param11 != null and param11 != ''">
			and ji.order_time &lt;=#{param11}
		</if>
		<if test="param8!=null and param8!=''">
			and jsj.settl_times &gt;=#{param8} and
			(ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		</if>
		<if test="param9!=null and param9!=''">
			and jsj.settl_times &lt;=#{param9} and
			(ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		</if>
		<if test="param6 != null and param6 != ''">
			<choose>
				<when test="param6=='0'.toString()">
					and (ji.handling_stata like "%${param6}%" or ji.handling_tiaozheng=1)
				</when>
				<otherwise>
					and (ji.handling_stata !=0 AND ji.handling_tiaozheng!=1)
				</otherwise>
			</choose>
		</if>
		<if test="param7 != null and param7 != ''">
			<choose>
				<when test="param7=='0'.toString()">
					and (( ji.handling_charge-(IF(ji.handling_shihou IS
					NULL,0,ji.handling_shihou))) !=0 or ji.handling_stata =0 or
					ji.handling_tiaozheng=1)
				</when>
				<when test="param7=='1'.toString()">
					and ( ji.handling_charge-(IF(ji.handling_shihou IS
					NULL,0,ji.handling_shihou))) =0 and ji.handling_stata !=0 AND
					ji.handling_tiaozheng!=1
				</when>
			</choose>
		</if>
		GROUP BY ji.shiping_order_id
		ORDER BY jsj.settl_times DESC,
		ji.updatetime
		DESC
		limit
		#{param1},#{param2}
		<!-- (SELECT jso.*, jcf.* , jsj.* FROM jy_shiping_order jso inner JOIN 
			jy_customer_fahuo jcf on jcf.customer_id=jso.customer_id LEFT JOIN jy_shouxu_jiesuann 
			jsj on jso.shiping_order_id=jsj.shiping_order_id where 1=1 AND jcf.customer_id 
			= #{param3} <if test="param4 != null and param4 != ''"> and jso.order_time 
			&gt;=#{param4} </if> <if test="param5 != null and param5 != ''"> and jso.order_time 
			&lt;=#{param5} </if> <if test="param12 != null and param12 !=''"> and jso.shiping_order_num 
			like "%${param12}%" </if> <if test="param10 != null and param10 != ''"> and 
			jso.order_time &gt;=#{param10} </if> <if test="param11 != null and param11 
			!= ''"> and jso.order_time &lt;=#{param11} </if> <if test="param8 != null 
			and param8 != ''"> and jso.des_time &gt;=#{param8} </if> <if test="param9 
			!= null and param9 != ''"> and jso.des_time &lt;=#{param9} </if> <if test="param6 
			!= null and param6 != ''"> and jso.destination_stata = #{param6} </if> <if 
			test="param7 != null and param7 != ''"> and jso.des_sh_stata = #{param7} 
			</if> GROUP BY jso.shiping_order_id limit #{param1},#{param2} ) UNION ( SELECT 
			jso.*, jc.* , jsj.* from jy_shiping_order jso inner JOIN jy_order_custom 
			joc on jso.custom_id = joc.custom_id inner JOIN jy_customer jc ON jc.customer_id 
			= joc.customer_id LEFT JOIN jy_shouxu_jiesuann jsj on jso.shiping_order_id=jsj.shiping_order_id 
			where 1=1 AND jc.customer_id = #{param3} <if test="param4 != null and param4 
			!= ''"> and joc.send_time &gt;=#{param4} </if> <if test="param5 != null and 
			param5 != ''"> and joc.send_time &lt;=#{param5} </if> <if test="param12 != 
			null and param12 !=''"> and jso.shiping_order_num like "%${param12}%" </if> 
			<if test="param10 != null and param10 != ''"> and jso.order_time &gt;=#{param10} 
			</if> <if test="param11 != null and param11 != ''"> and jso.order_time &lt;=#{param11} 
			</if> <if test="param8 != null and param8 != ''"> and jso.des_time &gt;=#{param8} 
			</if> <if test="param9 != null and param9 != ''"> and jso.des_time &lt;=#{param9} 
			</if> <if test="param6 != null and param6 != ''"> and jso.destination_stata 
			= #{param6} </if> <if test="param7 != null and param7 != ''"> and jso.des_sh_stata 
			= #{param7} </if> GROUP BY jso.shiping_order_id limit #{param1},#{param2} 
			) -->
	</select>
	<select id="getShippingCloseCount" resultType="int">
		SELECT COUNT(*) FROM ( (
		SELECT
		ji.shiping_order_id
		FROM
		jy_shiping_order ji
		LEFT JOIN jy_order_custom joc ON joc.custom_id =
		ji.custom_id

		LEFT JOIN jy_settlementy_ys_history jsj ON
		jsj.order_id=ji.shiping_order_id AND jsj.settl_order=1
		AND
		jsj.settl_times=(SELECT MAX(jsj1.settl_times) FROM
		jy_settlementy_ys_history jsj1
		WHERE jsj1.order_id=jsj.order_id AND
		jsj1.settl_order=1)

		LEFT JOIN jy_settlys_shenhe jst ON jst.orderids=ji.shiping_order_id AND
		jst.settlyf_sf=1 AND jst.settlyf_type=0
		AND jst.settlyf_time=(SELECT
		MAX(jst1.settlyf_time) FROM jy_settlys_shenhe jst1
		WHERE
		jst1.orderids=jst.orderids AND jst1.settlyf_type=0 AND
		jst1.settlyf_sf=1)


		LEFT JOIN jy_settlys_shenhe jss ON jss.orderids=ji.shiping_order_id AND
		jss.settlyf_sf=1 AND jss.settlyf_type=1
		AND jss.settlyf_time=(SELECT
		MAX(jss1.settlyf_time) FROM jy_settlys_shenhe jss1
		WHERE
		jss1.orderids=jss.orderids AND jss1.settlyf_type=1 AND
		jss1.settlyf_sf=1)

		LEFT JOIN jy_user ju ON jsj.settl_user=ju.id

		LEFT JOIN jy_user ju1 ON
		jst.settlyf_user=ju1.id
		LEFT JOIN jy_department jd ON jd.department_id
		= jst.settle_th_did
		where 1=1
		AND (ji.handling_charge IS NOT NULL and ji.handling_charge!='' and
		ji.handling_charge!=0)
		AND( joc.customer_id =#{param1} or ji.customer_id =#{param1} )
		<if test="param2 != null and param2 != ''">
			and ji.send_time &gt;=#{param2}
		</if>
		<if test="param3 != null and param3 != ''">
			and ji.send_time &lt;=#{param3}
		</if>
		<if test="param10 != null and param10 !=''">
			and ji.shiping_order_num like "%${param10}%"
		</if>
		<if test="param8 != null and param8 != ''">
			and ji.order_time &gt;=#{param8}
		</if>
		<if test="param9 != null and param9 != ''">
			and ji.order_time &lt;=#{param9}
		</if>
		<if test="param6!=null and param6!=''">
			and jsj.settl_times &gt;=#{param6} and
			(ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		</if>
		<if test="param7!=null and param7!=''">
			and jsj.settl_times &lt;=#{param7} and
			(ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		</if>
		<if test="param4 != null and param4 != ''">
			<choose>
				<when test="param4 =='0'.toString()">
					and (ji.handling_stata like "%${param4}%" or ji.handling_tiaozheng=1)
				</when>
				<otherwise>
					and (ji.handling_stata !=0 AND ji.handling_tiaozheng!=1)
				</otherwise>
			</choose>
		</if>
		<if test="param5 != null and param5 != ''">
			<choose>
				<when test="param5 =='0'.toString()">
					and (( ji.handling_charge-(IF(ji.handling_shihou IS
					NULL,0,ji.handling_shihou))) !=0 or ji.handling_stata =0 or
					ji.handling_tiaozheng=1)
				</when>
				<when test="param5=='1'.toString()">
					and ( ji.handling_charge-(IF(ji.handling_shihou IS
					NULL,0,ji.handling_shihou))) =0 and ji.handling_stata !=0 AND
					ji.handling_tiaozheng!=1
				</when>
			</choose>
		</if>
		GROUP BY ji.shiping_order_id
		)) AS qq
	</select>
	<!-- 结算 -->
	<update id="updateJieSuan" parameterType="java.util.Arrays">
		update jy_shiping_order
		<set>

			<!-- des_sige_name = #{param2}, des_bank = #{param3}, des_card = #{param4}, 
				des_time = SYSDATE(), -->
			<!-- des_name = #{param6}, des_market = #{param7}, -->
			handling_stata = #{param8},
			handling_tiaozheng = 2,
			handling_shenhe = 0
		</set>

		where shiping_order_id in
		<foreach collection="array" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
	<!--结算记录保存 -->
	<insert id="saveSettlchecks" parameterType="java.util.List">
		insert into
		jy_settlementy_ys_history
		(
		settlements_id,
		order_id,
		allmoney,
		settl_money,
		over_money,
		settl_user,
		settl_times,
		settl_notes,
		settl_order,
		settl_type,
		settl_zpnum,
		settl_khbank,
		settl_username,
		settl_kahao
		)
		values
		<foreach collection="list" index="index" item="item"
			separator=",">
			(
			#{item.settlements_id},
			#{item.order_id},
			#{item.allmoney},
			#{item.settl_money},
			#{item.over_money},
			#{item.settl_user},
			now(),
			#{item.settl_notes},
			#{item.settl_order},
			#{item.settl_type},
			#{item.settl_zpnum},
			#{item.settl_khbank},
			#{item.settl_username},
			#{item.settl_kahao}
			)
		</foreach>
	</insert>

	<update id="saveSettl_fu" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item"
			separator=" ;">
			update
			jy_shiping_order
			set
			handling_ysce =#{item.handling_ysce}
			where
			shiping_order_id
			=#{item.shiping_order_id}
		</foreach>
	</update>
	<insert id="insertJiSuan" parameterType="java.util.List">
		INSERT into
		jy_shouxu_jiesuann
		(
		derfee_id,
		des_time,
		shiping_order_id,
		shiping_order_num,
		paid_fee,
		destination_fee,
		des_market,
		transport_pay,
		xian_back_fee,
		qian_back_fee,
		des_name,
		des_sige_name,
		des_bank,
		des_card,
		destination_stata,
		zhipiao_binahao,
		handling_shihou,
		handling_charge
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.derfee_id},
			SYSDATE(),
			#{item.shiping_order_id},
			#{item.shiping_order_num},
			#{item.paid_fee},
			#{item.destination_fee},
			#{item.des_market},
			#{item.transport_pay},
			#{item.xian_back_fee},
			#{item.qian_back_fee},
			#{item.des_name},
			#{item.des_sige_name},
			#{item.des_bank},
			#{item.des_card},
			#{item.destination_stata},
			#{item.zhipiao_binahao},
			#{item.handling_shihou},
			#{item.handling_charge}
			)
		</foreach>
	</insert>
	<!-- 提审 -->
	<update id="updateTiShen" parameterType="java.util.Arrays">
		update jy_shiping_order
		<set>
			<!-- des_ts_time = SYSDATE(), -->
			handling_tsbm = #{param2},
			<!-- des_ts_market = #{param3}, -->
			handling_shenhe = 1
		</set>
		where shiping_order_id in
		<foreach collection="array" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
	<insert id="inserJyShenHeJiLu" parameterType="java.util.List">
		INSERT INTO
		jy_shenhejilu
		(
		shenhe_id ,
		shiping_order_id,
		handling_market,
		laiyuan_stata,
		handling_ts_name,
		handling_ts_time
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.shenhe_id},
			#{item.shiping_order_id},
			#{item.handling_market},
			#{item.laiyuan},
			#{item.handling_ts_name},
			SYSDATE()
			)
		</foreach>
	</insert>
	<update id="UpdateCheckedShipp" parameterType="int">
		UPDATE jy_shiping_order
		<set>
			handling_shenhe = #{param2},
			updatetime = SYSDATE()
		</set>
		WHERE
		shiping_order_id in
		<foreach collection="array" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
	<update id="UpdateCheckedBohui" parameterType="int">
		UPDATE jy_shiping_order
		<set>
			handling_shenhe = #{param2},
			updatetime = SYSDATE()
		</set>
		WHERE
		shiping_order_id in
		<foreach collection="array" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
	<update id="updateJyShenJiLU" parameterType="int">
		UPDATE jy_shenhejilu
		<set>
			shenhe_name = #{param1},
			shenhe_stime = SYSDATE(),
			shenhe_market = #{param3},
			<if test="param4 != null and param4 != ''">
				handling_shihou = #{param4},
			</if>
			<if test="param5 != null and param5 != ''">
				handling_charge = #{param5}
			</if>
		</set>
		WHERE shiping_order_id = #{param2} and laiyuan_stata = 1
	</update>
	<select id="getJyShenHeJiLu" resultType="Settle_history">
		SELECT
		ji.*,
		ju.username AS usernamecz,
		jo.shiping_order_num
		FROM
		jy_settlementy_ys_history ji
		LEFT JOIN jy_user ju ON
		ju.id=ji.settl_user
		LEFT JOIN jy_shiping_order jo ON
		jo.shiping_order_id=ji.order_id
		where 1=1 and ji.settl_order = 1 AND jo.shiping_order_id = #{param3}
		ORDER BY
		ji.settl_times
		DESC
		limit
		#{param1},#{param2}
		<!-- SELECT * FROM jy_shenhejilu WHERE laiyuan_stata = '1' AND shiping_order_id 
			= #{param3} GROUP BY shiping_order_id limit #{param1},#{param2} -->
	</select>
	<select id="getJyShenHeJiLuCount" resultType="int">
		SELECT
		COUNT(ji.settlements_id)

		FROM
		jy_settlementy_ys_history ji
		LEFT JOIN jy_user ju ON
		ju.id=ji.settl_user
		LEFT JOIN jy_shiping_order jo ON
		jo.shiping_order_id=ji.order_id
		where 1=1 and ji.settl_order = 1 AND jo.shiping_order_id = #{param1}

		<!-- SELECT count(*) FROM jy_shenhejilu WHERE laiyuan_stata = '1' AND shiping_order_id 
			= #{param1} GROUP BY shiping_order_id -->
	</select>
	<select id="getXiugaijiluCount" resultType="int">
		SELECT COUNT(*)
		FROM jy_xiugaijilu jx
		LEFT JOIN
		jy_shiping_order js
		ON
		jx.shiping_order_id = js.shiping_order_id
		where 1=1
		<if test="param1 != null and param1 != ''">
			and shiping_order_num like "%${param1}%"
		</if>
		<if test="param2 != null and param2 != ''">
			and xiugaitime &gt;=#{param2}
		</if>
		<if test="param3 != null and param3 != ''">
			and xiugaitime &lt;=#{param3}
		</if>
		ORDER BY xiugaitime DESC

	</select>
	<select id="getXiugaijilu" resultType="jiLuLiShi">
		SELECT * FROM
		jy_xiugaijilu jx
		LEFT JOIN
		jy_shiping_order js
		ON
		jx.shiping_order_id = js.shiping_order_id
		where
		1=1
		<if test="param3 != null and param3 != ''">
			and shiping_order_num like "%${param3}%"
		</if>
		<if test="param4 != null and param4 != ''">
			and xiugaitime &gt;=#{param4}
		</if>
		<if test="param5 != null and param5 != ''">
			and xiugaitime &lt;=#{param5}
		</if>
		ORDER BY xiugaitime DESC
		limit
		#{param1},#{param2}
	</select>
	<select id="getXiuGaiJuInput" resultType="jiLuLiShi">
		SELECT * FROM
		jy_xiugaijilu jx
		LEFT JOIN
		jy_shiping_order js
		ON
		jx.shiping_order_id = js.shiping_order_id
		where
		1=1
		<if test="param1 != null and param1 != ''">
			and shiping_order_num like "%${param1}%"
		</if>
		<if test="param2 != null and param2 != ''">
			and xiugaitime &gt;=#{param2}
		</if>
		<if test="param3 != null and param3 != ''">
			and xiugaitime &lt;=#{param3}
		</if>
		<if test="param4 != null and param4 != ''">
			and jx.jilu_id in
			<foreach collection="array" index="index" item="item" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		ORDER BY xiugaitime DESC

	</select>
	<select id="getCustomerInput" resultType="DestinationFeeCloseMordel">
		SELECT
		jd.department_name,
		ji.send_time,
		ji.shiping_order_num,
		ji.custom_name,
		ji.send_shouji,
		ji.goods_name,
		ji.goods_num,
		ji.goods_weight,
		ji.goods_vol,
		ji.shiping_order_id,
		ji.send_phone,
		ji.handling_ysce,
		ji.handling_stata AS settl_type,
		ji.send_station,ji.end_address,ji.receipt,ji.receipt_tel,
		ji.receipt_phone,ji.receipt_address,
		ji.transport_pay,

		CASE WHEN
		ji.handling_shenhe=0 THEN '未审核'
		WHEN ji.handling_shenhe=1 THEN '已提审'
		WHEN ji.handling_shenhe=2 THEN '审核通过'
		WHEN ji.handling_shenhe=3 THEN '审核驳回'
		END AS handling_shenhe,
		CASE WHEN
		ji.handling_stata=0 THEN '未结算'
		WHEN ji.handling_stata=1 THEN '现金'
		WHEN ji.handling_stata=2 THEN '刷卡'
		WHEN ji.handling_stata=3 THEN '支票'
		WHEN ji.handling_stata=4 THEN '其他'
		END AS handling_stata,
		CASE WHEN ji.send_type='0' THEN '客户自提'
		WHEN ji.send_type='1' THEN '专车送货'
		WHEN ji.send_type='2' THEN '送货进仓'
		WHEN ji.send_type='3' THEN '送货上门'
		WHEN ji.send_type='4' THEN '送货上楼'
		END AS send_type,
		CASE WHEN ji.shipping_order_state=0 THEN '未出库'
		WHEN ji.shipping_order_state=1 THEN '配送中'
		WHEN ji.shipping_order_state=2 THEN '转运中'
		WHEN ji.shipping_order_state=3 THEN '到达'
		WHEN ji.shipping_order_state=4 THEN '签收'
		END AS shipping_order_state,
		CASE
		WHEN ji.handling_tiaozheng=0 THEN '未调整'
		WHEN ji.handling_tiaozheng=1 THEN '调整未结算'
		WHEN ji.handling_tiaozheng=2 THEN '调整已结算'
		END AS handling_tiaozheng,
		IF ((ji.handling_stata!=0 and
		ji.handling_tiaozheng!=1),jsj.settl_times,NULL) AS settlyf_time,
		IF
		((ji.handling_stata!=0 and
		ji.handling_tiaozheng!=1),jsj.settl_notes,NULL) AS settlyf_remaks,

		IF (ji.handling_shenhe!=0 ,jst.settlyf_time,NULL) AS settlyf_th_times,
		IF ((ji.handling_shenhe!=0 OR
		ji.handling_shenhe!=1),jss.settlyf_time,NULL) AS settleds_sh_times,
		IF
		(ji.handling_shenhe!=0 ,jst.settlyf_remaks,NULL) AS settlyf_th_remaks,

		IF ((ji.handling_shenhe!=0 OR
		ji.handling_shenhe!=1),jss.settlyf_remaks,NULL) AS settleds_sh_remaks,
		IF ((ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		,ju.username,NULL) AS username,
		IF
		(ji.handling_shenhe!=0,ju1.username,NULL) AS usernameth,
		ji.handling_charge,
		IF(ji.handling_shihou IS NULL,0,ji.handling_shihou)
		AS handling_shihou ,

		ji.handling_charge-(IF(ji.handling_shihou IS NULL,0,ji.handling_shihou)) AS trade_cha


		FROM
		jy_shiping_order ji
		LEFT JOIN jy_order_custom joc ON joc.custom_id = ji.custom_id

		LEFT JOIN jy_settlementy_ys_history jsj ON
		jsj.order_id=ji.shiping_order_id AND jsj.settl_order=1
		AND
		jsj.settl_times=(SELECT MAX(jsj1.settl_times) FROM
		jy_settlementy_ys_history jsj1
		WHERE jsj1.order_id=jsj.order_id AND
		jsj1.settl_order=1)

		LEFT JOIN jy_settlys_shenhe jst ON jst.orderids=ji.shiping_order_id AND
		jst.settlyf_sf=1 AND jst.settlyf_type=0
		AND jst.settlyf_time=(SELECT
		MAX(jst1.settlyf_time) FROM jy_settlys_shenhe jst1
		WHERE
		jst1.orderids=jst.orderids AND jst1.settlyf_type=0 AND
		jst1.settlyf_sf=1)


		LEFT JOIN jy_settlys_shenhe jss ON jss.orderids=ji.shiping_order_id AND
		jss.settlyf_sf=1 AND jss.settlyf_type=1
		AND jss.settlyf_time=(SELECT
		MAX(jss1.settlyf_time) FROM jy_settlys_shenhe jss1
		WHERE
		jss1.orderids=jss.orderids AND jss1.settlyf_type=1 AND
		jss1.settlyf_sf=1)

		LEFT JOIN jy_user ju ON jsj.settl_user=ju.id

		LEFT JOIN jy_user ju1 ON jst.settlyf_user=ju1.id
		LEFT JOIN jy_department jd ON jd.department_id = jst.settle_th_did

		where (ji.handling_charge IS NOT NULL AND ji.handling_charge!='' AND
		ji.handling_charge!=0)
		<if test="param12 != null and param12 != ''">
			AND( joc.customer_id =#{param12} or ji.customer_id =#{param12} )
		</if>
		<if test="param2 != null and param2 != ''">
			and ji.send_time &gt;=#{param2}
		</if>
		<if test="param3 != null and param3 != ''">
			and ji.send_time &lt;=#{param3}
		</if>
		<if test="param10 != null and param10 !=''">
			and ji.shiping_order_num like "%${param10}%"
		</if>
		<if test="param8 != null and param8 != ''">
			and ji.order_time &gt;=#{param8}
		</if>
		<if test="param9 != null and param9 != ''">
			and ji.order_time &lt;=#{param9}
		</if>
		<if test="param6!=null and param6!=''">
			and jsj.settl_times &gt;=#{param6} and
			(ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		</if>
		<if test="param7!=null and param7!=''">
			and jsj.settl_times &lt;=#{param7} and
			(ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		</if>
		<if test="param4 != null and param4 != ''">
			<choose>
				<when test="param4 =='0'.toString()">
					and (ji.handling_stata like "%${param4}%" or ji.handling_tiaozheng=1)
				</when>
				<otherwise>
					and (ji.handling_stata !=0 AND ji.handling_tiaozheng!=1)
				</otherwise>
			</choose>
		</if>
		<if test="param5 != null and param5 != ''">
			<choose>
				<when test="param5 =='0'.toString()">
					and (( ji.handling_charge-(IF(ji.handling_shihou IS
					NULL,0,ji.handling_shihou))) !=0 or ji.handling_stata =0 or
					ji.handling_tiaozheng=1)
				</when>
				<when test="param5=='1'.toString()">
					and ( ji.handling_charge-(IF(ji.handling_shihou IS
					NULL,0,ji.handling_shihou))) =0 and ji.handling_stata !=0 AND
					ji.handling_tiaozheng!=1
				</when>
			</choose>
		</if>
		<if test="param11 != null and param11 != ''">
			and ji.shiping_order_id in
			<foreach collection="array" index="index" item="item" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		GROUP BY ji.shiping_order_id
		ORDER BY jsj.settl_times DESC,
		ji.updatetime
		DESC
	</select>
	<insert id="saveSettlyfSh" parameterType="java.util.List">
		insert into
		jy_settlys_shenhe
		(
		settlementids,
		settlyf_remaks,
		orderids,
		settlyf_type,
		settlyf_time,
		settlyf_state,
		settlyf_user,
		settlyf_sf,
		settlyf_id,
		settle_th_did
		)
		values
		<foreach collection="list" index="index" item="item"
			separator=",">
			(
			#{item.settlementids},
			#{item.settlyf_remaks},
			#{item.orderids},
			#{item.settlyf_type},
			now(),
			#{item.settlyf_state},
			#{item.settlyf_user},
			#{item.settlyf_sf},
			#{item.settlyf_id},
			#{item.settle_th_did}
			)
		</foreach>
	</insert>
	<select id="getShippingCloseAuditing" resultType="DestinationFeeCloseMordel">

		SELECT
		ji.*,
		jd.department_name,
		IF ((ji.handling_stata!=0 and
		ji.handling_tiaozheng!=1),jsj.settl_times,NULL) AS settlyf_time,
		IF
		((ji.handling_stata!=0 and
		ji.handling_tiaozheng!=1),jsj.settl_notes,NULL) AS settlyf_remaks,

		IF (ji.handling_shenhe!=0 ,jst.settlyf_time,NULL) AS settlyf_th_times,
		IF ((ji.handling_shenhe!=0 OR
		ji.handling_shenhe!=1),jss.settlyf_time,NULL) AS settleds_sh_times,
		IF
		(ji.handling_shenhe!=0 ,jst.settlyf_remaks,NULL) AS settlyf_th_remaks,

		IF ((ji.handling_shenhe!=0 OR
		ji.handling_shenhe!=1),jss.settlyf_remaks,NULL) AS settleds_sh_remaks,
		IF ((ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		,ju.username,NULL) AS username,
		IF
		(ji.handling_shenhe!=0,ju1.username,NULL) AS usernameth,
		ji.handling_charge,
		IF(ji.handling_shihou IS NULL,0,ji.handling_shihou)
		AS handling_shihou ,

		ji.handling_charge-(IF(ji.handling_shihou IS NULL,0,ji.handling_shihou)) AS trade_cha

		FROM
		jy_shiping_order ji
		LEFT JOIN jy_order_custom joc ON joc.custom_id =
		ji.custom_id

		LEFT JOIN jy_settlementy_ys_history jsj ON
		jsj.order_id=ji.shiping_order_id AND jsj.settl_order=1
		AND
		jsj.settl_times=(SELECT MAX(jsj1.settl_times) FROM
		jy_settlementy_ys_history jsj1
		WHERE jsj1.order_id=jsj.order_id AND
		jsj1.settl_order=1)

		LEFT JOIN jy_settlys_shenhe jst ON jst.orderids=ji.shiping_order_id AND
		jst.settlyf_sf=1 AND jst.settlyf_type=0
		AND jst.settlyf_time=(SELECT
		MAX(jst1.settlyf_time) FROM jy_settlys_shenhe jst1
		WHERE
		jst1.orderids=jst.orderids AND jst1.settlyf_type=0 AND
		jst1.settlyf_sf=1)


		LEFT JOIN jy_settlys_shenhe jss ON jss.orderids=ji.shiping_order_id AND
		jss.settlyf_sf=1 AND jss.settlyf_type=1
		AND jss.settlyf_time=(SELECT
		MAX(jss1.settlyf_time) FROM jy_settlys_shenhe jss1
		WHERE
		jss1.orderids=jss.orderids AND jss1.settlyf_type=1 AND
		jss1.settlyf_sf=1)

		LEFT JOIN jy_user ju ON jsj.settl_user=ju.id

		LEFT JOIN jy_user ju1 ON
		jst.settlyf_user=ju1.id
		LEFT JOIN jy_department jd ON jd.department_id
		= jst.settle_th_did
		where 1=1 and ji.handling_shenhe!=0
		AND (ji.handling_charge IS NOT NULL and ji.handling_charge!='' and
		ji.handling_charge!=0)
		<if test="param4 != null and param4 != ''">
			and ji.send_time &gt;=#{param4}
		</if>
		<if test="param5 != null and param5 != ''">
			and ji.send_time &lt;=#{param5}
		</if>
		<if test="param12 != null and param12 !=''">
			and ji.shiping_order_num like "%${param12}%"
		</if>
		<if test="param10 != null and param10 != ''">
			and ji.order_time &gt;=#{param10}
		</if>
		<if test="param11 != null and param11 != ''">
			and ji.order_time &lt;=#{param11}
		</if>
		<if test="param8!=null and param8!=''">
			and jsj.settl_times &gt;=#{param8} and
			(ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		</if>
		<if test="param9!=null and param9!=''">
			and jsj.settl_times &lt;=#{param9} and
			(ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		</if>
		<if test="param6 != null and param6 != ''">
			and ji.custom_name like "%${param6}%"
		</if>
		<if test="param7 != null and param7 != ''">
			and ji.handling_shenhe = #{param7}
		</if>
		GROUP BY ji.shiping_order_id
		ORDER BY jsj.settl_times DESC,
		ji.updatetime
		DESC
		limit
		#{param1},#{param2}
	</select>
	<select id="getShippingAuditingCount" resultType="int">
		SELECT COUNT(*) FROM ( (
		SELECT
		ji.shiping_order_id
		FROM
		jy_shiping_order ji
		LEFT JOIN jy_order_custom joc ON joc.custom_id =
		ji.custom_id

		LEFT JOIN jy_settlementy_ys_history jsj ON
		jsj.order_id=ji.shiping_order_id AND jsj.settl_order=1
		AND
		jsj.settl_times=(SELECT MAX(jsj1.settl_times) FROM
		jy_settlementy_ys_history jsj1
		WHERE jsj1.order_id=jsj.order_id AND
		jsj1.settl_order=1)

		LEFT JOIN jy_settlys_shenhe jst ON jst.orderids=ji.shiping_order_id AND
		jst.settlyf_sf=1 AND jst.settlyf_type=0
		AND jst.settlyf_time=(SELECT
		MAX(jst1.settlyf_time) FROM jy_settlys_shenhe jst1
		WHERE
		jst1.orderids=jst.orderids AND jst1.settlyf_type=0 AND
		jst1.settlyf_sf=1)


		LEFT JOIN jy_settlys_shenhe jss ON jss.orderids=ji.shiping_order_id AND
		jss.settlyf_sf=1 AND jss.settlyf_type=1
		AND jss.settlyf_time=(SELECT
		MAX(jss1.settlyf_time) FROM jy_settlys_shenhe jss1
		WHERE
		jss1.orderids=jss.orderids AND jss1.settlyf_type=1 AND
		jss1.settlyf_sf=1)

		LEFT JOIN jy_user ju ON jsj.settl_user=ju.id

		LEFT JOIN jy_user ju1 ON
		jst.settlyf_user=ju1.id
		LEFT JOIN jy_department jd ON jd.department_id
		= jst.settle_th_did
		where 1=1 and ji.handling_shenhe!=0
		AND (ji.handling_charge IS NOT NULL and ji.handling_charge!='' and
		ji.handling_charge!=0)
		<if test="param2 != null and param2 != ''">
			and ji.send_time &gt;=#{param2}
		</if>
		<if test="param3 != null and param3 != ''">
			and ji.send_time &lt;=#{param3}
		</if>
		<if test="param10 != null and param10 !=''">
			and ji.shiping_order_num like "%${param10}%"
		</if>
		<if test="param8 != null and param8 != ''">
			and ji.order_time &gt;=#{param8}
		</if>
		<if test="param9 != null and param9 != ''">
			and ji.order_time &lt;=#{param9}
		</if>
		<if test="param6!=null and param6!=''">
			and jsj.settl_times &gt;=#{param6} and
			(ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		</if>
		<if test="param7!=null and param7!=''">
			and jsj.settl_times &lt;=#{param7} and
			(ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		</if>
		<if test="param4 != null and param4 != ''">
			and ji.custom_name like "%${param4}%"
		</if>
		<if test="param5 != null and param5 != ''">
			and ji.handling_shenhe = #{param5}
		</if>
		GROUP BY ji.shiping_order_id
		)) AS qq
	</select>
	<!--运费结算审核记录查询 -->
	<select id="getSettleShRc" resultType="SettlyfSh">
		SELECT
		ji.*,
		ju.username AS usernamecz,
		jo.shiping_order_num
		FROM
		jy_settlys_shenhe ji
		LEFT JOIN jy_user ju ON ju.id=ji.settlyf_user
		LEFT
		JOIN jy_shiping_order jo ON jo.shiping_order_id=ji.orderids
		where
		ji.orderids=#{param5}
		and ji.settlyf_sf=1
		<if test="param3!=null and param3!=''">
			and ji.settlyf_time &gt;=#{param3}
		</if>
		<if test="param4!=null and param4!=''">
			and ji.settlyf_time &lt;=#{param4}
		</if>
		ORDER BY
		ji.settlyf_time
		DESC
		limit
		#{param1},#{param2}
	</select>

	<select id="getSettleShRcs" resultType="int">
		SELECT
		COUNT(ji.settlementids)
		FROM
		jy_settlys_shenhe ji
		LEFT JOIN jy_user ju ON ju.id=ji.settlyf_user
		LEFT JOIN jy_shiping_order jo ON jo.shiping_order_id=ji.orderids
		WHERE
		ji.orderids=#{param3}
		AND ji.settlyf_sf = 1
		<if test="param1!=null and param1!=''">
			and ji.settlyf_time &gt;=#{param1}
		</if>
		<if test="param2!=null and param2!=''">
			and ji.settlyf_time &lt;=#{param2}
		</if>
	</select>
	<select id="getDestinationFeeIO" resultType="DestinationFeeCloseMordel">
		(SELECT
		SUM(jso.destination_fee) as destination_fee,
		SUM(jso.paid_fee) as paid_fee,
		COUNT(jso.shiping_order_id) AS all_nuns,
		SUM(IF(jso.handling_stata=0,1,0)) AS zongpiaoshu,
		SUM(IF(jso.handling_stata!=0,1,0)) AS closes,
		SUM( jso.handling_charge -IF(jso.handling_shihou IS
		NULL,0,jso.handling_shihou)) AS chayi,
		SUM(jso.back_fee) as back_fee,
		SUM(jso.transport_pay) as transport_pay,
		SUM(jso.handling_charge) as handling_charge,
		SUM(IF(jso.handling_shihou is null ,0,jso.handling_shihou))as handling_shihou,
		jcf.customer_id,
		jcf.customer_num,
		jcf.customer_name,
		jcf.customer_address,
		jcf.customer_tel
		FROM jy_customer_fahuo jcf
		INNER JOIN jy_shiping_order jso
		on jcf.customer_id=jso.customer_id
		where 1=1
		and (jso.handling_charge IS NOT NULL AND jso.handling_charge!='' AND
		jso.handling_charge!=0)
		<if test="param1 != null and param1 != ''">
			AND jcf.customer_num like "%${param1}%"
		</if>
		<if test="param2 != null and param2 != ''">
			AND jcf.customer_name like "%${param2}%"
		</if>
		<if test="param3 != null and param3 != ''">
			and jso.order_time &gt;=#{param3}
		</if>
		<if test="param4 != null and param4 != ''">
			and jso.order_time &lt;=#{param4}
		</if>
		<if test="param5 != null and param5 != ''">
			and jcf.customer_id in
			<foreach collection="array" index="index" item="item" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>

		GROUP BY jcf.customer_id
		)
		UNION
		(SELECT
		SUM(jso.destination_fee) as destination_fee,
		SUM(jso.paid_fee) as paid_fee,
		COUNT(jso.shiping_order_id) AS all_nuns,
		SUM(IF(jso.handling_stata=0,1,0)) AS zongpiaoshu,
		SUM(IF(jso.handling_stata!=0,1,0)) AS closes,
		SUM( jso.handling_charge -IF(jso.handling_shihou IS
		NULL,0,jso.handling_shihou)) AS chayi,
		SUM(jso.back_fee) as back_fee,
		SUM(jso.transport_pay) as transport_pay,
		SUM(jso.handling_charge) as handling_charge,
		SUM(IF(jso.handling_shihou is null ,0,jso.handling_shihou))as handling_shihou,
		jc.customer_id,
		jc.customer_num,
		jc.customer_name,
		jc.customer_address,
		jc.customer_tel
		from jy_customer jc
		INNER JOIN jy_order_custom joc
		ON jc.customer_id = joc.customer_id
		INNER JOIN jy_shiping_order jso
		on jso.custom_id = joc.custom_id
		where 1=1
		and (jso.handling_charge IS NOT NULL AND jso.handling_charge!='' AND
		jso.handling_charge!=0)
		<if test="param1 != null and param1 != ''">
			AND jc.customer_num like "%${param1}%"
		</if>
		<if test="param2 != null and param2 != ''">
			AND jc.customer_name like "%${param2}%"
		</if>
		<if test="param3 != null and param3 != ''">
			and jso.order_time &gt;=#{param3}
		</if>
		<if test="param4 != null and param4 != ''">
			and jso.order_time &lt;=#{param4}
		</if>
		<if test="param5 != null and param5 != ''">
			and jc.customer_id in
			<foreach collection="array" index="index" item="item" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		GROUP BY jc.customer_id
		)
	</select>
	<select id="getCustomerOup" resultType="DestinationFeeCloseMordel">
		SELECT
		ji.send_time,
		ji.shiping_order_num,
		ji.custom_name,
		ji.send_shouji,
		ji.goods_name,
		ji.goods_num,
		ji.goods_weight,
		ji.goods_vol,
		ji.shiping_order_id,
		ji.send_phone,
		ji.handling_ysce,
		ji.handling_stata AS paytypes,
		ji.send_station,ji.end_address,ji.receipt,ji.receipt_tel,
		ji.receipt_phone,ji.receipt_address,
		ji.transport_pay,
		CASE WHEN
		ji.handling_shenhe=0 THEN '未审核'
		WHEN ji.handling_shenhe=1 THEN '已提审'
		WHEN ji.handling_shenhe=2 THEN '审核通过'
		WHEN ji.handling_shenhe=3 THEN '审核驳回'
		END AS handling_shenhe,
		CASE WHEN
		ji.handling_stata=0 THEN '未结算'
		WHEN ji.handling_stata=1 THEN '现金'
		WHEN ji.handling_stata=2 THEN '刷卡'
		WHEN ji.handling_stata=3 THEN '支票'
		WHEN ji.handling_stata=4 THEN '其他'
		END AS handling_stata,
		CASE WHEN ji.send_type='0' THEN '客户自提'
		WHEN ji.send_type='1' THEN '专车送货'
		WHEN ji.send_type='2' THEN '送货进仓'
		WHEN ji.send_type='3' THEN '送货上门'
		WHEN ji.send_type='4' THEN '送货上楼'
		END AS send_type,
		CASE WHEN ji.shipping_order_state=0 THEN '未出库'
		WHEN ji.shipping_order_state=1 THEN '配送中'
		WHEN ji.shipping_order_state=2 THEN '转运中'
		WHEN ji.shipping_order_state=3 THEN '到达'
		WHEN ji.shipping_order_state=4 THEN '签收'
		END AS shipping_order_state,
		CASE
		WHEN ji.handling_tiaozheng=0 THEN '未调整'
		WHEN ji.handling_tiaozheng=1 THEN '调整未结算'
		WHEN ji.handling_tiaozheng=2 THEN '调整已结算'
		END AS handling_tiaozheng,
		IF ((ji.handling_stata!=0 and
		ji.handling_tiaozheng!=1),jsj.settl_times,NULL) AS settlyf_time,
		IF
		((ji.handling_stata!=0 and
		ji.handling_tiaozheng!=1),jsj.settl_notes,NULL) AS settlyf_remaks,

		IF (ji.handling_shenhe!=0 ,jst.settlyf_time,NULL) AS settlyf_th_times,
		IF ((ji.handling_shenhe!=0 OR
		ji.handling_shenhe!=1),jss.settlyf_time,NULL) AS settleds_sh_times,
		IF
		(ji.handling_shenhe!=0 ,jst.settlyf_remaks,NULL) AS settlyf_th_remaks,

		IF ((ji.handling_shenhe!=0 OR
		ji.handling_shenhe!=1),jss.settlyf_remaks,NULL) AS settleds_sh_remaks,
		IF ((ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		,ju.username,NULL) AS username,
		IF
		(ji.handling_shenhe!=0,ju1.username,NULL) AS usernameth,
		ji.handling_charge,
		IF(ji.handling_shihou IS NULL,0,ji.handling_shihou)
		AS handling_shihou ,

		ji.handling_charge-(IF(ji.handling_shihou IS NULL,0,ji.handling_shihou)) AS trade_cha


		FROM
		jy_shiping_order ji
		LEFT JOIN jy_order_custom joc ON joc.custom_id = ji.custom_id

		LEFT JOIN jy_settlementy_ys_history jsj ON
		jsj.order_id=ji.shiping_order_id AND jsj.settl_order=1
		AND
		jsj.settl_times=(SELECT MAX(jsj1.settl_times) FROM
		jy_settlementy_ys_history jsj1
		WHERE jsj1.order_id=jsj.order_id AND
		jsj1.settl_order=1)

		LEFT JOIN jy_settlys_shenhe jst ON jst.orderids=ji.shiping_order_id AND
		jst.settlyf_sf=1 AND jst.settlyf_type=0
		AND jst.settlyf_time=(SELECT
		MAX(jst1.settlyf_time) FROM jy_settlys_shenhe jst1
		WHERE
		jst1.orderids=jst.orderids AND jst1.settlyf_type=0 AND
		jst1.settlyf_sf=1)


		LEFT JOIN jy_settlys_shenhe jss ON jss.orderids=ji.shiping_order_id AND
		jss.settlyf_sf=1 AND jss.settlyf_type=1
		AND jss.settlyf_time=(SELECT
		MAX(jss1.settlyf_time) FROM jy_settlys_shenhe jss1
		WHERE
		jss1.orderids=jss.orderids AND jss1.settlyf_type=1 AND
		jss1.settlyf_sf=1)

		LEFT JOIN jy_user ju ON jsj.settl_user=ju.id

		LEFT JOIN jy_user ju1 ON jst.settlyf_user=ju1.id
		LEFT JOIN jy_department jd ON jd.department_id = jst.settle_th_did
		where (ji.handling_charge IS NOT NULL AND ji.handling_charge!='' AND
		ji.handling_charge!=0)
		and ji.handling_shenhe!=0

		<if test="param2 != null and param2 != ''">
			and ji.send_time &gt;=#{param2}
		</if>
		<if test="param3 != null and param3 != ''">
			and ji.send_time &lt;=#{param3}
		</if>
		<if test="param10 != null and param10 !=''">
			and ji.shiping_order_num like "%${param10}%"
		</if>
		<if test="param8 != null and param8 != ''">
			and ji.order_time &gt;=#{param8}
		</if>
		<if test="param9 != null and param9 != ''">
			and ji.order_time &lt;=#{param9}
		</if>
		<if test="param6!=null and param6!=''">
			and jsj.settl_times &gt;=#{param6} and
			(ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		</if>
		<if test="param7!=null and param7!=''">
			and jsj.settl_times &lt;=#{param7} and
			(ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		</if>
		<if test="param4 != null and param4 != ''">
			and ji.custom_name like "%${param4}%"
		</if>
		<if test="param5 != null and param5 != ''">
			and ji.handling_shenhe = #{param5}
		</if>
		<if test="param11 != null and param11 != ''">
			and ji.shiping_order_id in
			<foreach collection="array" index="index" item="item" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		GROUP BY ji.shiping_order_id
		ORDER BY jsj.settl_times DESC,
		ji.updatetime
		DESC
	</select>
	<select id="getShippingDriver" resultType="DestinationFeeCloseMordel">

		SELECT
		ji.*,
		jd.department_name,
		IF ((ji.handling_stata!=0 and
		ji.handling_tiaozheng!=1),jsj.settl_times,NULL) AS settlyf_time,
		IF
		((ji.handling_stata!=0 and
		ji.handling_tiaozheng!=1),jsj.settl_notes,NULL) AS settlyf_remaks,

		IF (ji.handling_shenhe!=0 ,jst.settlyf_time,NULL) AS settlyf_th_times,
		IF ((ji.handling_shenhe!=0 OR
		ji.handling_shenhe!=1),jss.settlyf_time,NULL) AS settleds_sh_times,
		IF
		(ji.handling_shenhe!=0 ,jst.settlyf_remaks,NULL) AS settlyf_th_remaks,

		IF ((ji.handling_shenhe!=0 OR
		ji.handling_shenhe!=1),jss.settlyf_remaks,NULL) AS settleds_sh_remaks,
		IF ((ji.handling_stata!=0 and ji.handling_tiaozheng!=1)
		,ju.username,NULL) AS username,
		IF
		(ji.handling_shenhe!=0,ju1.username,NULL) AS usernameth,
		ji.handling_charge,
		IF(ji.handling_shihou IS NULL,0,ji.handling_shihou)
		AS handling_shihou ,

		ji.handling_charge-(IF(ji.handling_shihou IS NULL,0,ji.handling_shihou)) AS trade_cha

		FROM
		jy_shiping_order ji
		LEFT JOIN jy_order_custom joc ON joc.custom_id =
		ji.custom_id

		LEFT JOIN jy_settlementy_ys_history jsj ON
		jsj.order_id=ji.shiping_order_id AND jsj.settl_order=1
		AND
		jsj.settl_times=(SELECT MAX(jsj1.settl_times) FROM
		jy_settlementy_ys_history jsj1
		WHERE jsj1.order_id=jsj.order_id AND
		jsj1.settl_order=1)

		LEFT JOIN jy_settlys_shenhe jst ON jst.orderids=ji.shiping_order_id AND
		jst.settlyf_sf=1 AND jst.settlyf_type=0
		AND jst.settlyf_time=(SELECT
		MAX(jst1.settlyf_time) FROM jy_settlys_shenhe jst1
		WHERE
		jst1.orderids=jst.orderids AND jst1.settlyf_type=0 AND
		jst1.settlyf_sf=1)


		LEFT JOIN jy_settlys_shenhe jss ON jss.orderids=ji.shiping_order_id AND
		jss.settlyf_sf=1 AND jss.settlyf_type=1
		AND jss.settlyf_time=(SELECT
		MAX(jss1.settlyf_time) FROM jy_settlys_shenhe jss1
		WHERE
		jss1.orderids=jss.orderids AND jss1.settlyf_type=1 AND
		jss1.settlyf_sf=1)

		LEFT JOIN jy_user ju ON jsj.settl_user=ju.id

		LEFT JOIN jy_user ju1 ON
		jst.settlyf_user=ju1.id
		LEFT JOIN jy_department jd ON jd.department_id
		= jst.settle_th_did
		where 1=1 and ji.handling_shenhe!=0
		AND (ji.handling_charge IS NOT NULL and ji.handling_charge!='' and
		ji.handling_charge!=0)
		and ji.shiping_order_id = #{param1}
		<!-- <if test="param4 != null and param4 != ''"> and ji.send_time &gt;=#{param4} 
			</if> <if test="param5 != null and param5 != ''"> and ji.send_time &lt;=#{param5} 
			</if> <if test="param12 != null and param12 !=''"> and ji.shiping_order_num 
			like "%${param12}%" </if> <if test="param10 != null and param10 != ''"> and 
			ji.order_time &gt;=#{param10} </if> <if test="param11 != null and param11 
			!= ''"> and ji.order_time &lt;=#{param11} </if> <if test="param8!=null and 
			param8!=''"> and jsj.settl_times &gt;=#{param8} and (ji.handling_stata!=0 
			and ji.handling_tiaozheng!=1) </if> <if test="param9!=null and param9!=''"> 
			and jsj.settl_times &lt;=#{param9} and (ji.handling_stata!=0 and ji.handling_tiaozheng!=1) 
			</if> <if test="param6 != null and param6 != ''"> and ji.custom_name like 
			"%${param6}%" </if> <if test="param7 != null and param7 != ''"> and ji.handling_shenhe 
			= #{param7} </if> -->
		GROUP BY ji.shiping_order_id
		ORDER BY jsj.settl_times DESC,
		ji.updatetime
		DESC
	</select>
</mapper>
