<?xml version="1.0" encoding="UTF-8"?>
<beans 
xmlns:mvc="http://www.springframework.org/schema/mvc"   
  	
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-2.5.xsd 
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd "
     
    >
     
    <!-- 对web包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能 -->
    <!-- 扫描包的问题！！！！！！！！！！！！！！！！ -->
	<context:component-scan base-package="com.jy.action"/>
    <!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>

   <!--对模型视图名称的解析，即在模型视图名称添加前后缀 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
        
        <!-- 或者这样写 -->
        <!-- 前缀 -->
			 <property name="prefix" value="/WEB-INF/views/" />
			<!-- 后缀 -->
		<property name="suffix" value=".jsp" />
    </bean>
    <!-- 处理文件上传 -->
	<bean id="multipartResolver"
	    class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >  
	    <property name="defaultEncoding" value="utf-8"/> <!-- 默认编码 (ISO-8859-1) -->  
	    <property name="maxInMemorySize" value="10240"/> <!-- 最大内存大小 (10240)-->  
<!-- 	    <property name="uploadTempDir" value="/upload/"/> 上传后的目录名 (WebUtils#TEMP_DIR_CONTEXT_ATTRIBUTE)  
 -->	    <property name="maxUploadSize" value="-1"/> <!-- 最大文件大小，-1为无限止(-1) -->  
	    <property name="resolveLazily" value="true"/>
	</bean>
	
	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	  <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
        <property name="cacheSeconds" value="0" />  
        <property name="messageConverters">  
            <list>  
                <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>  
            </list>
        </property>
    </bean>
    <mvc:annotation-driven>  
    <mvc:message-converters>
        <bean class="org.springframework.http.converter.StringHttpMessageConverter">     
            <property name="supportedMediaTypes">     
                <list>     
                    <value>text/plain;charset=UTF-8</value>     
                    <value>text/html;charset=UTF-8</value>     
                </list>     
            </property>     
        </bean>      
    </mvc:message-converters>     
</mvc:annotation-driven>   
</beans>
